@media (max-width: 1200px) {
    .banner-section__inner {
        justify-content: space-around;
    }
    .banner-section__slider {
        max-width: 600px;
    }
    .banner-section-slider-img {
        max-width: 600px;
        min-height: 360px;
    }
}

@media (max-width: 1100px) {
    /*HEADER*/
    .menu__item + .menu__item {
        padding-left: 20px;
    }

    .header__address {
        margin: auto;
    }

}

@media (max-width: 968px) {
    /*HEADER*/
    .header__top-inner {
        padding: 27px 0 10px;
    }

    .header__bottom {
        display: none;
    }

    .logo__img {
        display: none;

    }

    .logo-text {
        font-family: 'Staatliches', cursive;
        display: block;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .menu__list {
        display: none;
    }

    .menu__btn {
        padding: 0;
        display: block;
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    .menu__btn-line {
        width: 34px;
        height: 3px;
        margin: 8px 0;
        border-radius: 3px;
        background: #2F3035;
    }

    .menu-mobile__line-wrapper {
        display: block;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: 'SFProDisplay-Bold', Sans-Serif;
        background-color: #F0F0F4;
        overflow-x: scroll;
    }

    .menu-mobile__line {
        padding: 15px 0 15px 10px;
        width: 450px;
    }


    .banner-section__inner {
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-section__slider {
        max-width: 100%;
    }

    .banner-section-slider-img {
        max-width: 100%;
        /*min-height: 360px;*/
    }

}

@media (max-width: 640px) {
    /*HEADER*/
    .header__address {
        display: none;
    }


}